#contactForm {
    margin-top: 30px;
}

#contactForm form {
    margin-top: 30px;
    text-align: left;
}

#contactForm label {
    margin-right: 10px;
}

#submitButton {
    width: 100px;
}

textarea {
    padding: 5px;
}

input {
    padding: 2px;
    margin-top: 3px;
}

input[type=text], input[type=email] {
    padding: 4px;
}