body {
    --text-color: #222;
    --bkg-color: #fff; 
}

body.dark-theme {
    --text-color: #eee;
    --bkg-color: #303030;
}

#mainHeader,
#mainFooter {
    --bkg-color: #f5f5f5;
}

#mainHeader.dark-theme,
#mainFooter.dark-theme {
    --bkg-color: #333;
}

input {
    --bkg-color: default;
}

input.dark-theme {
    --bkg-color: #333;
}

.percentage {
    --bkg-color: repeating-linear-gradient(
        to right,
        #ddd,
        #ddd 1px,
        #fff 1px,
        #fff 10%
    );
}

.percentage.dark-theme {
    --bkg-color: repeating-linear-gradient(
        to right,
        #ddd,
        #ddd 1px,
        #121212 1px,
        #121212 10%
    );
}

span {
    --bkg-color: transparent;
}
span.dark-theme {
    --bkg-color: transparent;
}

.container .navbar .menuItem a:hover {
    --bkg-color: rgb(228, 228, 228);
    --text-color: #222;
}
.container .navbar .menuItem a.dark-theme:hover {
    --bkg-color: rgb(70, 70, 70);
    --text-color: #eee;
}
/* 
@media (prefers-color-scheme: light) {
    body {
        --bkg-color: #fff;
        --text-color: #222;
    }

    body.dark-theme {
        --bkg-color: #121212;
        --text-color: #eee;
    }

    #mainHeader,
    #mainFooter {
        --bkg-color: #f5f5f5;
    }
    
    #mainHeader.dark-theme,
    #mainFooter.dark-theme {
        --bkg-color: #3a3a3a;
    }

    input {
        --bkg-color: default;
    }

    input.dark-theme {
        --bkg-color: #333;
    }

    .percentage {
        --bkg-color: repeating-linear-gradient(
            to right,
            #ddd,
            #ddd 1px,
            #fff 1px,
            #fff 10%
        );
    }

    .percentage.dark-theme {
        --bkg-color: repeating-linear-gradient(
            to right,
            #ddd,
            #ddd 1px,
            #121212 1px,
            #121212 10%
        );
    }

    span {
        --bkg-color: transparent;
    }

    span.dark-theme {
        --bkg-color: transparent;
    }
} */

body, span, .diagram, .percentage, .diagramText, #mainHeader, #mainFooter, input, .workWithUs a, textarea, .container .navbar .menuItem a {
    background: var(--bkg-color);
    background-color: var(--bkg-color);
}

h1, h2, h3, h4, h5, h6, p, span, input, .pie, .workWithUs a, #contactForm, .container .navbar .menuItem a {
    color: var(--text-color);
}