@keyframes opacityAnim {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes opacityAnim {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes widthAnim {
    from {width: 0%;}
    to {max-width: 100%;}
}

@-webkit-keyframes widthAnim {
    from {width: 0%;}
    to {max-width: 100%;}
}

@keyframes heightAnim {
    from {height: 150%;}
    to {height: 75%;}
}

@-webkit-keyframes heightAnim {
    from {height: 150%;}
    to {height: 75%;}
}

@keyframes visibilityAnim {
    from {visibility: hidden;}
    to {visibility: visible;}
}

@-webkit-keyframes visibilityAnim {
    from {visibility: hidden;}
    to {visibility: visible;}
}

.jImage {
    position: relative;
    object-fit: fill;
    width: 25%;
    border-radius: 100%;
    box-shadow: -0px 0px 0px -50px #fff inset, 0px 0px 50px;
    margin: 5%;
    animation-name: opacityAnim;
    animation-duration: 1s;
}

.jContainer h6 {
    position: relative;
    font-size: xx-large;
    width: 100%;
    animation-name: opacityAnim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.jContainer p {
    position: relative;
    animation-name: opacityAnim;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
    animation-fill-mode: both;
    margin: 30px;
}

#h1 {
    animation-delay: 1s;
}

#h2 {
    animation-delay: 2s;
}

#h3 {
    animation-delay: 3s;
}

#p1 {
    animation-delay: 3.5s;
}

#p2 {
    animation-delay: 4s;
}

#p3 {
    animation-delay: 4.5s;
}

#p4 {
    animation-timing-function: step-end;
    animation-delay: 5.5s;
}

.diagramContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.diagram {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    position: relative;
    padding: 20px;
}
  
.diagramTitle {
    justify-content: left;
    align-self: flex-end;
    width: 100%;
    font-weight: 700;
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 130px;
}

.diagramText {
    font-weight: 600;
    display: flex;
    position: absolute;
    align-items: center;
    height: 50px;
    left: 0;
    background-color: white;
    animation-name: opacityAnim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.percentage {
    display: flex;
    align-items: center;
    font-size: .8em;
    line-height: 1;
    text-transform: uppercase;
    width: 80%;
    height: 50px;
    margin-left: 75px;
    margin-right: 200px;
    background: repeating-linear-gradient(
        to right,
        #ddd,
        #ddd 1px,
        #fff 1px,
        #fff 10%
    );
    border-right: 1px solid #ddd;
    animation-name: opacityAnim, widthAnim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 4.5s;
    animation-fill-mode: both;
}

.bar {
    position: relative;
    visibility: visible;
    background-color:black;
    width: 100%;
    height: 75%;
    padding: 12px;
    text-align: right;
    animation-name: opacityAnim, widthAnim, heightAnim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    cursor: default;
    border-radius: 0px 10px 10px 0px;
}

#bar-1 {
    background-color:lawngreen;
    width: 90%;
    animation-delay: 5.5s;
}

#bar-2 {
    background-color:rgb(255, 75, 0);
    width: 25%;
    animation-delay: 6s;
}

#bar-3 {
    background-color:yellow;
    width: 45%;
    animation-delay: 6.5s;
}

#bar-1:hover{
    background-color: rgb(160, 255, 65);
    border: 2px solid #ddd;
}

#bar-2:hover {
    background-color: rgb(255, 110, 47);
    border: 2px solid #ddd;
}

#bar-3:hover {
    background-color: rgb(252, 252, 125); 
    border: 2px solid #ddd;
}

#text1 {    
    animation-delay: 5.5s;
}

#text2 {
    animation-delay: 6s;
}

#text3 {
    animation-delay: 6.5s;
}