.introImg img {
    border-radius: 50%;
    box-shadow: 0 0 20px;
    width: 40%;
}

#tagLine {
    color: coral;
}

#aboutMe {
    font-size: 16px;
}

@property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 1;
  }
  
.pie {
    --percentage:20;
    --border-radius:12px;
    --color:darkred;
    --width:120px;

    aspect-ratio: 1 / 1;
    width: var(--width);
    position: relative;
    display: inline-grid;
    margin: 15px;
    place-content: center;
    font-size: 18px;
    font-weight: bold;
    animation: p 2.5s .5s both;
    animation-duration: 2.5s;
}

.skillsDiv {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
    row-gap: 50px;
}

.skillsDescription {
    flex-basis: 100%;
}

.skillsDescription span {
    font-size: 14px;
}

.skillsPie div {
    opacity: 85%;
}

#pCsharp {
    --percentage:90;
    --color: blueviolet;
}

#pSql {
    --percentage:55;
    --color: rgb(68, 172, 90);
}

#pHtml {
    --percentage:75;
    --color: orangered;
}

#pCss {
    --percentage:40;
    --color:blue;
}

#pJs {
    --percentage:25;
    --color: rgb(255, 208, 0);
}


#pAspNet {
    --percentage:15;
    --color: rgb(43, 188, 255);
}

#barChart {
    display: block;
    min-height: 200px;
    min-width: 400px;
    margin: auto;
}

#barChart tbody {
    overflow: hidden;
}

#barChart tbody th {
    background-color: #fff;
    z-index: 1;
}

#barChart tbody td {
    animation: animate-bars 5s .5s both;
    animation-duration: 2.5s;
    opacity: 85%;
}

#bCsharp {
    --size: 0.9;
    --color: blueviolet;
}

#bCss {
    --size: 0.4;
    --color:blue;
}

#bHtml {
    --size:0.75;
    --color: orangered;
}

#bJs {
    --size: 0.25;
    --color: rgb(255, 208, 0);
}

#bSql {
    --size: 0.55;
    --color: rgb(68, 172, 90);
}

#bAspNet {
    --size: 0.15;
    --color: rgb(43, 188, 255);
}



.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.pie:before {
    inset: 0;
    background:
        radial-gradient(farthest-side,var(--color) 98%,#0000) top/var(--border-radius) var(--border-radius) no-repeat,
        conic-gradient(var(--color) calc(var(--percentage)*1%),#0000 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--border-radius)),#000 calc(100% - var(--border-radius)));
            mask: radial-gradient(farthest-side,#0000 calc(99% - var(--border-radius)),#000 calc(100% - var(--border-radius)));
}

.pie:after {
    inset: calc(50% - var(--border-radius)/2);
    background: var(--color);
    transform: rotate(calc(var(--percentage)*3.6deg)) translateY(calc(50% - var(--width)/2));
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

@keyframes animate-bars {
    0% { transform: translateX(-101%); }
    100% { transform: translateX(0);}
}

@keyframes p{
    from { --percentage:0 }
}


@media (min-width: 620px){
    #barChart {
        min-width: 600px;
    }
}

@media (min-width: 768px) {
    #barChart {
        min-height: 300px;
        min-width: 750px;
        margin: auto;
        font-size: 17px;
    }

    .introImg img {
        width: 50%;
    }

    #aboutMe {
        display: flex;
        column-gap: 30px;
        row-gap: 30px;
        font-size: 18px;
    }

    #barChart tbody th {
        min-width: 90px;
        padding-right: 2px;
    }

    .pie {
        --color:darkred;
        --width:150px;
    
        aspect-ratio: 1 / 1;
        position: relative;
        display: inline-grid;
        place-content: center;
        font-size: 25px;
    }

    .skillsDescription span {
        font-size: 16px;
    }

    #aboutMe p {
        max-width: 550px;
    }
}

